{{>adminSideBar}}

<div class="container-fluid px-5 my-3">
  <h3 class="font-weight-bold">Create Category</h3>
  <p class="admin-blueText text-sample">Use the form to create a Category</p>
  <div class="row ">
    <div class="col-12 col-md-6 border border-secondary  rounded p-3">
      <h6 class="mb-3 font-weight-bold">General Information</h6>

      <form action="" method="post" id="Add-category-form">
        <div class="form-group">
          <label class="text-sample text-secondary">Category Name</label>
          <input class="rounded border border-secondary" id="category-name" type="text"
            placeholder="Type category name here" {{#if category}}value="category.name" {{/if}}>
          <p class="text-sample text-danger p-0" id="nameError">{{#if errMsg}}{{this}}{{/if}}</p>
        </div>
        <div class="form-group">
          <label class="text-sample text-secondary">Description</label>
          <textarea class="form-control border border-secondary" id="description" rows="3"></textarea>
          <p class="text-sample text-danger p-0" id="descriptionError"></p>
        </div>
        <div class="form-group mb-0">
          <input type="submit" value="Save" class="btn border-0 font-weight-bold">
        </div>
      </form>
    </div>
    <div class="col-12 col-md-6 p-3">

      <h6 class="mb-3 font-weight-bold">Thumbnail</h6>
      <form>
        <label class="custom-file-upload" for="imageUpload">
          <i class="fas fa-cloud-upload-alt"></i> Upload Image
        </label>
        <input class="d-none is-invalid" type="file" id="imageUpload" name="imageUpload" accept="image/*">
        <p class="text-sample text-danger p-0 d-none" id="imageUploadError">*Please upload a thumbnail image</p>
      </form enctype="multipart/form-data">
      <div id="imagePreview" class="image-preview category-pre-img d-none">
        <i class="fa-solid fa-circle-xmark " id="cancel-icon" style="color: #e20001;" title="Cancel"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid my-5">
      <h3 class="font-weight-bold mb-3">All Category</h3>

      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover" id="category-table">
          <thead class="table-header">
            <tr>
              <th scope="col">Category Name</th>
              <th scope="col">Image</th>
              <th scope="col">Description</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {{#each categories}}
            <tr>
              <td>{{this.name}}</td>
              <td id="image-col"><img id="category-img" src="{{this.image}}" alt=""></td>
              <td>{{this.description}}</td>
              <td class="action-cell">
                <ul class="list-unstyled d-flex justify-content-around">
                  <li>
                    <a href="/category/edit_category/{{this._id}}" style="text-decoration: none; color:inherit">
                      <i class="fa-regular fa-lg fa-pen-to-square" title="Edit"></i>
                    </a>
                  </li>
                  <li>
                    <a href="deleteCategory/{{this._id}}">
                      <i class="fa-solid fa-trash-can fa-lg" style="color: #c80000;" title="Delete"
                        data-user-id="{{this._id}}"
                        onclick="displayConformation(this, event, 'Are you sure, Do you want to delete this category?','deleteCategory/{{this._id}}')"></i>
                    </a>
                  </li>
                </ul>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      {{#unless categories}}
      <div class=" container p-5 text-center">
        <p class="mt-5 text-center text-danger">No category found...create new one </p>
        <i class="fa-solid fa-arrow-up"></i>
      </div>
      {{/unless}}
    </div>
  </div>
  <div id="confirmationDialog" class="d-none">
    <div class="dialogContent">
      <p id="conform-message"></p>
      <div class="buttonContainer">
        <button id="cancelButton">Cancel</button>
        <button id="confirmButton">Yes</button>
      </div>
    </div>
  </div>
  {{#if pages}}
  <nav aria-label="Page navigation" id="pagination" class=" p-3">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled" id="prevPageBtn">
        <a class="page-link" id="prev-link" href="" tabindex="-1" aria-disabled="true"><i
            class="fa-solid fa-angle-left"></i></a>
      </li>
      {{#each pages}}
      <li class="page-item page-number mx-1" aria-current="page">
        <a class="page-link " href="?page={{this}}">{{this}}</a>
      </li>
      {{/each}}
      <li class="page-item" id="nextBtn">
        <a class="page-link" id="next-link" href=""><i class="fa-solid fa-angle-right"></i></a>
      </li>
    </ul>
  </nav>
  {{/if}}
</div>